{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
  <div class="flex flex-column justify-content-center w-100">
    <div class="col-6 mx-auto">
      <div class="row m-3">
        <input type="text" class="form-control rounded text-center shadow-sm" placeholder="Title" id="inputDefault">
      </div>
      <div class="row m-3">
        <input type="text" class="form-control rounded text-center shadow-sm" placeholder="Author" id="inputDefault">
      </div>
      <div class="row m-3">
        <button class="form-control btn btn-info rounded shadow-sm">Search</button>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}